<div class="profile-card">
  <div class="header" fxLayout="column" fxLayoutAlign="space-between stretch">
    <h3>Logged in as: {{user.name | titlecase}}</h3>
  </div>
</div>
<mat-divider></mat-divider>

<mat-nav-list>
        <span *ngFor="let item of menus">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <!-- Cabeceras del submenu -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon>{{item.icon}}</mat-icon>
                      {{item.name}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngFor="let child of item.children">
                  <mat-list-item routerLink="{{'/'+child.url}}">
                    <!-- Entradas de cada submenú  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon>{{child.icon}}</mat-icon>
                      {{child.name}}
                    </div>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item routerLink="{{'/'+item.url}}">
              <!-- Entradas principales -->
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{item.icon}}</mat-icon>
                {{item.name}}
              </div>
            </mat-list-item>
          </span>
        </span>
</mat-nav-list>


