<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h3>{{user.name | titlecase}}</h3>
      <h4>{{user.title}}</h4>
      <h5>{{user.email | lowercase}}</h5>
    </div>
    <img src="assets/coa.png" alt="">
  </div>

  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
  <mat-divider></mat-divider>

  <mat-divider></mat-divider>
  <h2 class="mat-subheader">User Management</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/roles">Roles</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">Users</a>
  <mat-divider></mat-divider>

  <h2 class="mat-subheader">Flows</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/flows">
    <mat-icon>
      account_tree
    </mat-icon>
    Flows
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>
      contacts
    </mat-icon>
    Contacts
  </a>
</mat-nav-list>


