<div class="page-header">
  <div>
    <h2 class="page-title">
      <mat-icon>contacts</mat-icon>
      Manage Contacts
    </h2>
    <p class="page-subtitle">View and manage RapidPro contacts</p>
  </div>
  <div>
    <button (click)="syncContacts()" mat-raised-button color="primary" class="sync-btn">
      <mat-icon>sync</mat-icon>
      Sync Contacts
    </button>
  </div>
</div>

<mat-card class="table-card">
  <mat-card-content>
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Search contacts</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput placeholder="Type to filter...">
    </mat-form-field>

    <div *ngIf="dataSource" class="table-container">
      <table [dataSource]="dataSource" mat-table>
        <!-- SNo Column -->
        <ng-container matColumnDef="sno">
          <th *matHeaderCellDef mat-header-cell>No</th>
          <td *matCellDef="let contacts; let i = index" mat-cell>{{i + 1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let contacts" mat-cell>{{contacts.name}}</td>
        </ng-container>

        <!-- Facility Column -->
        <ng-container matColumnDef="facilityCode">
          <th *matHeaderCellDef mat-header-cell>Facility Code</th>
          <td *matCellDef="let contacts" mat-cell>{{contacts.facilityCode}}</td>
        </ng-container>

        <!-- URN Column -->
        <ng-container matColumnDef="urn">
          <th *matHeaderCellDef mat-header-cell>URN</th>
          <td *matCellDef="let contacts" mat-cell>{{contacts.urn}}</td>
        </ng-container>

        <!-- Sex Column -->
        <ng-container matColumnDef="sex">
          <th *matHeaderCellDef mat-header-cell>Sex</th>
          <td *matCellDef="let contacts" mat-cell>{{contacts.sex}}</td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th *matHeaderCellDef mat-header-cell>Age</th>
          <td *matCellDef="let contacts" mat-cell>{{contacts.age}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let contacts" mat-cell>
            <button mat-icon-button matTooltip="Edit" matTooltipPosition="left">
              <mat-icon (click)="openDialog(contacts)">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell no-data" colspan="7">
            <mat-icon>search_off</mat-icon>
            No data matching the filter "{{input.value}}"
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator
      (page)="pageChanged($event)"
      [length]="contacts?.totalElements"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
