<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Manage Contacts</h3>
  </div>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput>
</mat-form-field>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!-- SNo Column -->
    <ng-container matColumnDef="sno">
      <th *matHeaderCellDef mat-header-cell> No</th>
      <td *matCellDef="let contacts; let i = index" mat-cell>{{i + 1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let contacts" mat-cell> {{contacts.name}} </td>
    </ng-container>

    <!-- Facility Column -->
    <ng-container matColumnDef="facilityCode">
      <th *matHeaderCellDef mat-header-cell>Facility Code</th>
      <td *matCellDef="let contacts" mat-cell> {{contacts.facilityCode}} </td>
    </ng-container>

    <!-- URN Column -->
    <ng-container matColumnDef="urn">
      <th *matHeaderCellDef mat-header-cell>URN</th>
      <td *matCellDef="let contacts" mat-cell> {{contacts.urn}} </td>
    </ng-container>

    
    <!-- Sex Column -->
    <ng-container matColumnDef="sex">
      <th *matHeaderCellDef mat-header-cell>Sex</th>
      <td *matCellDef="let contacts" mat-cell> {{contacts.sex}} </td>
    </ng-container>

    <!-- URN Column -->
    <ng-container matColumnDef="age">
      <th *matHeaderCellDef mat-header-cell>Age</th>
      <td *matCellDef="let contacts" mat-cell> {{contacts.age}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Action</th>
      <td *matCellDef="let contacts" mat-cell>
        <button mat-icon-button matTooltip="Edit" matTooltipPosition="left">
          <mat-icon (click)="openDialog(contacts)">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator
    (page)="pageChanged($event)"
    [length]="contacts?.totalElements"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    class="mat-elevation-z8"
  ></mat-paginator>
</div>

<!--<pre>{{users.content | json}}</pre>-->




