<!-- manage-flows.component.html -->

<div fxLayoutAlign="space-between center">
  <div>
    <h3>Manage Flows</h3>
  </div>
  <div fxLayoutGap="5px">
    <button (click)="syncFlows()" class="mat-primary" mat-raised-button>
      SYNC FLOWS
    </button>
  </div>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Select a flow</mat-label>
    <mat-select (selectionChange)="getKeys($event)" [(value)]="selectedFlowId">
      <mat-option *ngFor="let flow of flows" [value]="flow.id">
        {{ flow.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-form-field *ngIf="flowKeys.length" appearance="standard">
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput>
</mat-form-field>

<div *ngIf="flowKeys.length" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- SNo Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="keyName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <div class="link-data-element" (click)="openMapDataElementDialog(element)" matTooltip="Click to map data element">
          {{ element.keyName }}
        </div>
      </td>
    </ng-container>

    <!-- Data Element Column -->
    <ng-container matColumnDef="dataElement">
      <th mat-header-cell *matHeaderCellDef> Data Element </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let category of element.categories">
          <span *ngIf="category.dataElement">
            {{ "(" + category.dataElement.code + ") - " + category.dataElement.name }}
          </span>
        </div>
        <div *ngIf="element.dataElement" style="color: teal">
          {{ "(" + element.dataElement.code + ") - " + element.dataElement.name }}
        </div>
      </td>
    </ng-container>

    <!-- Categories Column -->
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef> Categories </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.categories.length">
          <ul>
            <li *ngFor="let category of element.categories">
              <div class="link-data-element" (click)="openMapCategoryDialog(category)" matTooltip="Click to map data element">
                {{ category.name }}
              </div>
              <span *ngIf="category.possibleTrueValues" style="color: teal;">
                >> [{{ category.possibleTrueValues }}]
              </span>
              <span *ngIf="category.dataElement" (click)="openSetPossibleValuesDialog(category)">
                <mat-icon>add</mat-icon>
              </span>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Reset Mapping" matTooltipPosition="left" (click)="openResetDialog(element)">
          <mat-icon>undo</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No Data Row -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <!-- Reset Dialog Template -->
  <ng-template #resetDialog>
    <h3 mat-dialog-title>Are you sure you want to reset this mapping?</h3>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>NO</button>
      <button mat-button (click)="reset()">YES</button>
    </mat-dialog-actions>
  </ng-template>
</div>
