<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Dashboard</h3>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between stretch">
  <mat-card *ngIf="numberOfRegisteredContactsIsReady === true" class="card-red" fxFlex="50">
    <h1>Total # of registered contacts: {{numberOfRegisteredContacts}}</h1>
  </mat-card>
  <mat-card *ngIf="numberOfRegisteredContactsTodayIsReady === true" class="card-green" fxFlex="50">
    <h1>Total # of registered contacts today: {{numberOfRegisteredContactsToday}}</h1>
  </mat-card>
</div>
<p></p>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <app-widget-bar *ngIf="bigChartsIsReady === true" [data]="bigChart" [title]="titleCouncils"></app-widget-bar>
</div>
<!--</div>-->
<p></p>

<div *ngIf="isSuperAdministrator" fxLayout="column" fxLayoutAlign="stretch">
  <h3>Transaction Logs</h3>
</div>

<mat-card *ngIf="isSuperAdministrator" class="mat-elevation-z8">
  <ul>
    <li *ngFor="let trx of transactions?.content">
      <div class="transaction-logs">
        <b>Date Processed:</b> {{trx.dateProcessed}}
        <br>
        <b>Payload:</b>
        <ngx-json-viewer [expanded]="false" [json]=parseToJson(trx.payload)></ngx-json-viewer>
        <br>
        <b>DHIS2 Response:</b> {{trx.dhisResponse}}
        <div *ngIf="trx.isSent" class="success-transactions">
          Sent
        </div>
        <div *ngIf="trx.isSent == false" class="pending-transactions">
          Not Sent
        </div>
        <button *ngIf="trx.isSent==false" mat-icon-button matTooltip="Resend" matTooltipPosition="left">
          <button (click)="resend(trx)" class="mat-button mat-primary" mat-raised-button>Resend</button>
        </button>
        <mat-divider></mat-divider>
      </div>
    </li>
  </ul>
</mat-card>

<mat-paginator
  (page)="pageChanged($event)"
  *ngIf="isSuperAdministrator"
  [length]="transactions?.totalElements"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  fxLayout="column"
  fxLayoutAlign="stretch"
></mat-paginator>
