<div class="mnm-dialog" style="min-width: 700px;">
  <div class="mnm-dialog-head">
    <mat-icon class="mnm-dialog-icon">compare_arrows</mat-icon>
    <div>
      <h2 mat-dialog-title>Map DHIS2 Data Elements</h2>
      <p class="mnm-dialog-subtitle">Select data elements to assign to this program</p>
    </div>
  </div>

  <mat-dialog-content class="mnm-dialog-body" style="max-height: 500px;">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" style="margin-bottom: 12px;"></mat-progress-bar>

    <div class="mnm-transfer">
      <!-- Available panel -->
      <div class="mnm-panel">
        <div class="mnm-panel-head">
          <div class="mnm-panel-title">
            <input type="checkbox" class="mnm-checkbox"
              [checked]="isAllAvailableSelected()"
              [indeterminate]="isSomeAvailableSelected()"
              (change)="toggleAllAvailable()">
            <mat-icon>dataset</mat-icon>
            Available
          </div>
          <span class="mnm-count">{{filteredAvailable.length}}</span>
        </div>

        <div class="mnm-search">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="availableSearch" placeholder="Search…" type="text">
          <button *ngIf="availableSearch" mat-icon-button (click)="availableSearch = ''">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="mnm-list">
          <div *ngIf="!filteredAvailable.length && !loading" class="mnm-empty">
            <mat-icon>inventory_2</mat-icon>
            <span>No elements available</span>
          </div>
          <div *ngFor="let item of filteredAvailable"
            class="mnm-item"
            [class.item-sel]="availableSelection.has(item.id)"
            (click)="toggleAvailable(item.id)"
          >
            <input type="checkbox" class="mnm-checkbox"
              [checked]="availableSelection.has(item.id)"
              (click)="$event.stopPropagation()"
              (change)="toggleAvailable(item.id)">
            <div class="mnm-item-info">
              <mat-icon class="item-icon">data_object</mat-icon>
              <span class="item-name">{{item.name}}</span>
            </div>
          </div>
        </div>

        <div class="mnm-panel-foot" *ngIf="availableSelection.size">
          {{availableSelection.size}} selected
        </div>
      </div>

      <!-- Transfer buttons -->
      <div class="mnm-arrows">
        <button mat-fab color="primary"
          (click)="availableSelection.size && assign()"
          [class.btn--loading]="!availableSelection.size"
          matTooltip="Assign selected">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-fab color="warn"
          (click)="assignedSelection.size && unassign()"
          [class.btn--loading]="!assignedSelection.size"
          matTooltip="Remove selected">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <!-- Assigned panel -->
      <div class="mnm-panel mnm-panel-assigned">
        <div class="mnm-panel-head mnm-panel-head-assigned">
          <div class="mnm-panel-title assigned">
            <input type="checkbox" class="mnm-checkbox"
              [checked]="isAllAssignedSelected()"
              [indeterminate]="isSomeAssignedSelected()"
              (change)="toggleAllAssigned()">
            <mat-icon>check_circle</mat-icon>
            Assigned
          </div>
          <span class="mnm-count assigned">{{filteredAssigned.length}}</span>
        </div>

        <div class="mnm-search">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="assignedSearch" placeholder="Search…" type="text">
          <button *ngIf="assignedSearch" mat-icon-button (click)="assignedSearch = ''">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="mnm-list">
          <div *ngIf="!filteredAssigned.length && !loading" class="mnm-empty">
            <mat-icon>checklist</mat-icon>
            <span>No elements assigned yet</span>
          </div>
          <div *ngFor="let item of filteredAssigned"
            class="mnm-item assigned"
            [class.item-sel]="assignedSelection.has(item.id)"
            (click)="toggleAssigned(item.id)"
          >
            <input type="checkbox" class="mnm-checkbox"
              [checked]="assignedSelection.has(item.id)"
              (click)="$event.stopPropagation()"
              (change)="toggleAssigned(item.id)">
            <div class="mnm-item-info">
              <mat-icon class="item-icon item-icon-assigned">check_circle</mat-icon>
              <span class="item-name">{{item.name}}</span>
            </div>
          </div>
        </div>

        <div class="mnm-panel-foot assigned" *ngIf="assignedSelection.size">
          {{assignedSelection.size}} selected
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="mnm-dialog-foot">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-raised-button color="primary"
      (click)="!saving && !loading && saveData()"
      [class.btn--loading]="saving || loading">
      <mat-icon *ngIf="saving">hourglass_empty</mat-icon>
      {{saving ? "Saving…" : "Save"}}
    </button>
  </mat-dialog-actions>
</div>
