<section class="dialog-container">
  <h1 class="dialog-header" fxLayout="row" fxLayoutAlign="center center" mat-dialog-title>
    Map DHIS2 Data Element
  </h1>
  <mat-divider></mat-divider>
  <mat-dialog-content class="dialog-content">
    <p-pickList
      [source]="fetchedList"
      [sourceStyle]="{'height':'260px'}"
      [target]="selectedDataElementsList"
      [targetStyle]="{'height':'260px'}"
      [dragdrop]="true"
      filterBy="name"
      sourceFilterPlaceholder="Search by name"
      sourceHeader="Available"
      targetFilterPlaceholder="Search by name"
      targetHeader="Selected"
    >
      <ng-template let-item pTemplate="item">
        <div class="picklist-item">
          <span>{{ item.name }}</span>
        </div>
      </ng-template>
    </p-pickList>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end none">
    <div class="button">
      <button mat-dialog-close mat-raised-button type="button">CANCEL</button>
      <button
        (click)="saveData()"
        color="primary"
        mat-raised-button
        type="submit"
      >
        SAVE
      </button>
    </div>
  </mat-dialog-actions>
</section>

