.nested-node {
  padding-left: 40px;
}

.report-tree-invisible {
  display: none;
}

.report-tree{
  padding-left: 40px;
}

mat-tree-node.selected {
  background-color: gray;
  border-radius: 3px;
  width: 20%;
  color: white;
}
