<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>User Profile</h3>
  </div>
</div>

<mat-card class="mat-elevation-z8">
  <div>
    <form [formGroup] = "profileForm" class="profile-content">
      <mat-form-field appearance="fill">
        <mat-label>Select a title</mat-label>
        <mat-select formControlName="title">
          <mat-option>None</mat-option>
          <mat-option value="Dr.">Dr.</mat-option>
          <mat-option value="Mr.">Mr.</mat-option>
          <mat-option value="Ms">Ms</mat-option>
          <mat-option value="Mrs.">Mrs.</mat-option>
          <mat-option value="Prof.">Prof</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="profileForm.hasError('email') && !profileForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
      </mat-form-field>

      <mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch">
        <div class="button">
          <button mat-raised-button type="button" mat-dialog-close>CANCEL</button>
          <button mat-raised-button color="primary" type="submit">SAVE</button>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
</mat-card>






