<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Manage Menus</h3>
  </div>
  <div fxLayoutGap="5px">
    <button (click)="openDialog()" class="mat-primary" mat-raised-button>
      ADD NEW
    </button>
  </div>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput>
</mat-form-field>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!-- SNo Column -->
    <ng-container matColumnDef="sno">
      <th *matHeaderCellDef mat-header-cell> No</th>
      <td *matCellDef="let menus; let i = index" mat-cell>{{i + 1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let menus" mat-cell> {{menus.name}} </td>
    </ng-container>

    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
      <th *matHeaderCellDef mat-header-cell> Icon</th>
      <td *matCellDef="let menus" mat-cell> {{menus.icon}} </td>
    </ng-container>

    <!-- Url Column -->
    <ng-container matColumnDef="url">
      <th *matHeaderCellDef mat-header-cell> URL</th>
      <td *matCellDef="let menus" mat-cell> {{menus.url}} </td>
    </ng-container>

    <!-- Parent Column -->
    <ng-container matColumnDef="parent">
      <th *matHeaderCellDef mat-header-cell> Parent</th>
      <td *matCellDef="let menus" mat-cell>{{menus.parentName}} </td>
    </ng-container>

    <!-- Report Column -->
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell> Report</th>
      <td *matCellDef="let menus" mat-cell> {{menus.roleName}} </td>
    </ng-container>

    <!-- Sort Order Column -->
    <ng-container matColumnDef="sortOrder">
      <th *matHeaderCellDef mat-header-cell> Sort Order</th>
      <td *matCellDef="let menus" mat-cell> {{menus.sortOrder}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Action</th>
      <td *matCellDef="let menus" mat-cell>
        <button mat-icon-button matTooltip="Edit" matTooltipPosition="left">
          <mat-icon (click)="openDialog(menus)">edit</mat-icon>
        </button>
        <button (click)="openDeleteDialog(menus.id)" color="warn" mat-icon-button matTooltip="Delete"
                matTooltipPosition="right">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator
    (page)="pageChanged($event)"
    [length]="menus?.totalElements"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    class="mat-elevation-z8"
  ></mat-paginator>
</div>

<!--<pre>{{menus | json}}</pre>-->


<!--delete role dialog template-->
<ng-template #deleteDialog>
  <mat-dialog-content>
    <h3>Are you sure you want to delete this menu?</h3>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>NO</button>
    <button (click)="delete()" mat-button>YES</button>
  </mat-dialog-actions>
</ng-template>
<!--delete role dialog template-->
