<section class="login-form-container"
         fxLayout="row"
         fxLayout.xs="column"
         fxFlexFill
         fxLayoutAlign="center center">
  <form [formGroup]="OrganisationUnitService.form"
        class="form" #formDirective="ngForm"
        (ngSubmit)="submitForm(OrganisationUnitService.form)">
    <h1 mat-dialog-title class="dialog-header">
      {{OrganisationUnitService.form.controls['id'].value? "Edit Organisation Unit" : "Create Organisation Unit"}}
    </h1>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <div class="dialog-content" fxLayout="column" fxLayoutGap="5px">
        <mat-form-field>
          <input matInput
                 formControlName="name"
                 autocomplete="off"
                 placeholder="Enter name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="code"
                 placeholder="Enter code"
                 autocomplete="off"
                 required>
        </mat-form-field>

        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
          <mat-form-field class="dialog-content" appearance="fill">
            <mat-label>Search for council</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <!-- <pre>{{ form | json }}</pre> -->
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch">
      <div class="button">
        <button mat-raised-button type="button" mat-dialog-close>CANCEL</button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="submitForm(OrganisationUnitService.form.value)"
        >
          {{OrganisationUnitService.form.controls['id'].value? "UPDATE" : "CREATE"}}
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</section>
