<div class="mnm-dialog">
  <div class="mnm-dialog-head">
    <mat-icon class="mnm-dialog-icon">account_balance</mat-icon>
    <div>
      <h2 mat-dialog-title>{{organisationUnitService.form.controls['id'].value ? "Edit Organisation Unit" : "Create Organisation Unit"}}</h2>
      <p class="mnm-dialog-subtitle">Manage health facility and council details</p>
    </div>
  </div>

  <form #formDirective="ngForm" [formGroup]="organisationUnitService.form" (ngSubmit)="submitForm(organisationUnitService.form)">
    <mat-dialog-content class="mnm-dialog-body">
      <mat-form-field appearance="outline" class="mnm-field">
        <mat-label>Name</mat-label>
        <mat-icon matPrefix>label</mat-icon>
        <input matInput autocomplete="off" formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mnm-field">
        <mat-label>Code</mat-label>
        <mat-icon matPrefix>qr_code</mat-icon>
        <input matInput autocomplete="off" formControlName="code" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mnm-field">
        <mat-label>Other Names</mat-label>
        <mat-icon matPrefix>alternate_email</mat-icon>
        <input matInput autocomplete="off" formControlName="otherNames">
      </mat-form-field>

      <mat-form-field appearance="outline" class="mnm-field">
        <mat-label>Search for council</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="mnm-dialog-foot">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit">
        {{organisationUnitService.form.controls['id'].value ? "Update" : "Create"}}
      </button>
    </mat-dialog-actions>
  </form>
</div>
