<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Dashboard</h3>
  </div>
</div>

<div>
  <h4>Transaction Logs</h4>
</div>

<mat-tab-group>
  <mat-tab label="Sent to DHIS2">
    <div class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-around stretch" >
      <div class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-around stretch">
        <mat-card *ngIf="sentTrx.content.length == 0">
          There are no transactions to display
        </mat-card>
      </div>
      <table mat-table [dataSource]="dataSource" *ngIf="sentTrx.content.length > 0">
        <!-- SNo Column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> No</th>
          <td style="padding-right: 3px; font-weight: bold; padding-left: 3px;" mat-cell *matCellDef="let transactions; let i = index"><b>{{i + 1}}</b></td>
        </ng-container>

        Id Column
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let transactions"> {{transactions.id}} </td>
        </ng-container>

        <!-- dateProcessed Column -->
        <ng-container matColumnDef="dateProcessed">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td style="padding-right: 3px; padding-left: 3px;" mat-cell *matCellDef="let transactions"> {{transactions.dateProcessed | date: 'd.M.y'}} </td>
        </ng-container>

        <!-- dateProcessed Column -->
        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef> Payload</th>
          <td style="padding-right: 3px; padding-left: 3px;" mat-cell *matCellDef="let transactions"> {{transactions.payload}} </td>
        </ng-container>

        <!-- dateProcessed Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let transactions">
            <div *ngIf="transactions.isSent == true">
              <mat-icon style="color: #239e23;">done_all</mat-icon>
            </div>

            <div *ngIf="transactions.isSent == false">
              <mat-icon style="color: red;">cancel_presentation</mat-icon>
            </div>
            {{ transactions.status}}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let transactions">
            <button matTooltip="Send to DHIS2" matTooltipPosition="right" mat-icon-button color="primary"
                    (click)="tyrAgain(transactions.id)">
              <mat-icon>refresh</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
<!--          <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>-->
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="sentTrx.length > 0 && sentTrx.length !== undefined"></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="Pending">
    <div class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-around stretch" >

        <mat-card *ngIf="pendingTransactions.content.length == 0">
          There are no transactions to display
        </mat-card>
      </div>
      <table mat-table [dataSource]="dataSource" *ngIf="pendingTransactions.content.length > 0">
        <!-- SNo Column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> No</th>
          <td style="padding-right: 3px; font-weight: bold; padding-left: 3px;" mat-cell *matCellDef="let transactions; let i = index"><b>{{i + 1}}</b></td>
        </ng-container>

        Id Column
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let transactions"> {{transactions.id}} </td>
        </ng-container>

        <!-- dateProcessed Column -->
        <ng-container matColumnDef="dateProcessed">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td style="padding-right: 3px; padding-left: 3px;" mat-cell *matCellDef="let transactions"> {{transactions.dateProcessed | date: 'd.M.y'}} </td>
        </ng-container>

        <!-- dateProcessed Column -->
        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef> Payload</th>
          <td style="padding-right: 3px; padding-left: 3px;" mat-cell *matCellDef="let transactions"> {{transactions.payload}} </td>
        </ng-container>

        <!-- dateProcessed Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let transactions">
            <div *ngIf="transactions.isSent == true">
              <mat-icon style="color: #239e23;">done_all</mat-icon>
            </div>

            <div *ngIf="transactions.isSent == false">
              <mat-icon style="color: red;">cancel_presentation</mat-icon>
            </div>
            {{ transactions.status}}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let transactions">
            <button matTooltip="Send to DHIS2" matTooltipPosition="right" mat-icon-button color="primary"
                    (click)="tyrAgain(transactions.id)">
              <mat-icon>refresh</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
<!--          <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>-->
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="pendingTransactions.length > 0 && pendingTransactions.length !== undefined"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>




<br>
<mat-divider></mat-divider>
<br>

<!--<div class="mat-elevation-z8">-->
<!--  <app-widget-area [data]="bigChart"></app-widget-area>-->
<!--</div>-->

<!--<br>-->
<!--<mat-divider></mat-divider>-->
<!--<br>-->

<!--<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">-->
<!--  <mat-card fxFlex="25" class="mat-elevation-z8">-->
<!--    <app-widget-card label="New Users" total="18k" percentage="50" [data]="cards"></app-widget-card>-->
<!--  </mat-card>-->
<!--  <mat-card fxFlex="25" class="mat-elevation-z8">-->
<!--    <app-widget-card label="Users Retention" total="12k" percentage="33" [data]="cards"></app-widget-card>-->
<!--  </mat-card>-->
<!--  <mat-card fxFlex="25" class="mat-elevation-z8">-->
<!--    <app-widget-card label="Users Engaged" total="24k" percentage="19" [data]="cards"></app-widget-card>-->
<!--  </mat-card>-->
<!--  <mat-card fxFlex="25" class="mat-elevation-z8">-->
<!--    <app-widget-card label="Referral" total="19k" percentage="77" [data]="cards"></app-widget-card>-->
<!--  </mat-card>-->
<!--</div>-->

<!--<br>-->
<!--<mat-divider></mat-divider>-->
<!--<br>-->

<!--<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">-->
<!--  <div fxFlex="60" class="mat-elevation-z8">-->
<!--    <app-widget-bar [data]="barChart"></app-widget-bar>-->
<!--  </div>-->
<!--  <div fxFlex="40" class="mat-elevation-z8">-->
<!--    <app-widget-pie [data]="pieChart"></app-widget-pie>-->
<!--  </div>-->
<!--</div>-->
