<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Dashboard</h3>
  </div>
</div>

<div>
  <h4>Transaction Logs</h4>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- SNo Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> No</th>
      <td mat-cell *matCellDef="let transactions; let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- Date Processed Column -->
    <ng-container matColumnDef="dateProcessed">
      <th mat-header-cell *matHeaderCellDef> Date Processed</th>
      <td mat-cell *matCellDef="let transactions"> {{transactions.dateProcessed | date: 'mediumDate'}} </td>
    </ng-container>

    <!-- Payload Column -->
    <ng-container matColumnDef="payload">
      <th mat-header-cell *matHeaderCellDef>Payload</th>
      <td mat-cell *matCellDef="let transactions"> {{transactions.payload}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="isSent">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let transactions">
        <div *ngIf="transactions.isSent" class="success-transactions">
          Sent
        </div>
        <div *ngIf="transactions.isSent == false" class="pending-transactions">
          Not Sent
        </div>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let users">
        <button matTooltip="Resend" matTooltipPosition="left" mat-icon-button>
          <mat-icon (click)="resend(transactions)">autorenew</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No data matching the filter"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100,1000]"></mat-paginator>
</div>

<br>
  <mat-divider></mat-divider>
<br>
