<div class="mnm-dialog">
  <div class="mnm-dialog-head">
    <mat-icon class="mnm-dialog-icon">admin_panel_settings</mat-icon>
    <div>
      <h2 mat-dialog-title>{{RolesService.form.controls['id'].value ? "Edit Role" : "Create Role"}}</h2>
      <p class="mnm-dialog-subtitle">Configure role name and permissions level</p>
    </div>
  </div>

  <form #formDirective="ngForm" [formGroup]="RolesService.form" (ngSubmit)="submitForm(RolesService.form)">
    <mat-dialog-content class="mnm-dialog-body">
      <mat-form-field appearance="outline" class="mnm-field">
        <mat-label>Role Name</mat-label>
        <mat-icon matPrefix>label</mat-icon>
        <input matInput autocomplete="off" formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mnm-field">
        <mat-label>Description</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <input matInput autocomplete="off" formControlName="description" required>
      </mat-form-field>

      <mat-checkbox color="primary" formControlName="isSuperAdministrator">
        Super Administrator role
      </mat-checkbox>
    </mat-dialog-content>

    <mat-dialog-actions class="mnm-dialog-foot">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit">
        {{RolesService.form.controls['id'].value ? "Update" : "Create"}}
      </button>
    </mat-dialog-actions>
  </form>
</div>
