<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>User Profile</h3>
  </div>
</div>

<mat-card class="mat-elevation-z8">
  <div>
    <form
      (ngSubmit)="submitForm(profileForm)"
      [formGroup]="profileForm"
      class="profile-content">

      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input disabled formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input disabled formControlName="username" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input disabled formControlName="email" matInput>
        <mat-error *ngIf="profileForm.hasError('email') && !profileForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input disabled formControlName="phone" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input autocomplete="off" formControlName="oldPassword" matInput required type="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input (keyup)="validateForm()" autocomplete="off" formControlName="password" matInput required type="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input (keyup)="validateForm()" autocomplete="off" formControlName="confirmPassword" matInput required
               type="password">
      </mat-form-field>
      <span *ngIf="profileForm.errors !== null && profileForm.errors !== undefined"
            class="validation-error">{{profileForm.errors.match_error}}</span>

      <mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch">
        <div class="button">
          <button mat-dialog-close mat-raised-button type="button">CANCEL</button>
          <button color="primary" mat-raised-button type="submit">SAVE</button>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
</mat-card>






