<section class="menu-container"
         fxLayout="row"
         fxLayout.xs="column"
         fxFlexFill
         fxLayoutAlign="center center">
  <form [formGroup]="MenuService.form"
        class="form" #formDirective="ngForm"
        (ngSubmit)="submitForm(MenuService.form.value)">
    <h1 mat-dialog-title class="dialog-header">
      {{MenuService.form.controls['id'].value? "Edit Menu" : "Create Menu"}}
    </h1>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <div class="dialog-content" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between stretch">
          <mat-form-field>
            <input matInput
                   formControlName="name"
                   autocomplete="off"
                   placeholder="Enter name" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   formControlName="icon"
                   placeholder="Enter icon"
                   autocomplete="off"
                   required>
          </mat-form-field>
      </div>

      <div class="dialog-content" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between stretch">
        <mat-form-field>
          <input matInput
                 formControlName="sortOrder"
                 autocomplete="off"
                 type="number"
                 placeholder="Enter sort order" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="url"
                 autocomplete="off"
                 placeholder="Enter url"
          >
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <mat-form-field appearance="fill">
          <mat-label>Parent</mat-label>
          <mat-select
            formControlName="parentId">
            <mat-option *ngFor="let menu of menus" [value]="menu.id" >
              {{menu.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayout="column" fxLayoutAlign="stretch">
          <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [compareWith]="MenuService.compareObjects"
                        required
                        formControlName="roleId">
              <mat-option *ngFor="let role of roles" [value]="role.id" >
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <pre>{{MenuService.form.value | json}}</pre>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch">
      <div class="button">
        <button mat-raised-button type="button" mat-dialog-close>CANCEL</button>
        <button mat-raised-button color="primary" type="submit">
          {{MenuService.form.controls['id'].value? "UPDATE" : "CREATE"}}
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</section>
