.mat-toolbar {
  text-align: center;
  height: auto;
  background-color: white;
}

img {
  height: 100px;
  width: 100px;
  border-color: gray;
  border-radius: 5px;
}

.container{
  background-color: #3F51B5;
}
