<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="40">
    <mat-toolbar>Mama na Mwana Integration Services</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column ">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" autocomplete="off">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

  </mat-card>
</div>
